In [1]:
import pandas as pd
import matplotlib.pyplot as plt

from tqdm import tqdm

%matplotlib inline

In [13]:
def calculate_law(y):
    games = pd.read_csv('processed/pbp-summary-{}.csv'.format(y), dtype={'GAME_ID':str})
    winners = pd.read_csv('processed/winners-{}.csv'.format(y), dtype={'GAME_ID':str})
    together = pd.merge(games, winners).sort_values(['GAME_ID','EVENTNUM'])
    law = together.groupby('GAME_ID').apply(lambda x: x[x.POINTS >= 100].head(1))
    tt100mean = pd.np.mean(law.TIME)
    return pd.Series([y,tt100mean], index=['year','timeto100'])

In [14]:
final = pd.concat([calculate_law(y) for y in tqdm(range(1997, 2020))], axis=1)\
.transpose()\
.set_index('year')

100%|██████████| 23/23 [01:05<00:00,  2.91s/it]

In [15]:
final

         timeto100
year
1997.0  221.480059
1998.0  214.822446
1999.0  158.364662
2000.0  224.560166
2001.0  191.810256
2002.0  205.473422
2003.0  213.539655
2004.0  203.166329
2005.0  218.332861
2006.0  222.892128
2007.0  245.015936
2008.0  279.646356
2009.0  266.622222
2010.0  287.079710
2011.0  251.852684
2012.0  223.083333
2013.0  241.105541
2014.0  274.109605
2015.0  261.524590
2016.0  292.541929
2017.0  341.097235
2018.0  363.841463
2019.0  438.642566

In [16]:
final.to_csv('time-to-100.csv')