In [1]:
import pandas as pd

In [2]:
game = pd.read_csv('../data/playbyplay/2018/0021700720.csv', dtype={'GAME_ID':str,'SCOREMARGIN':str})

In [3]:
game.head()

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN
0,0021700720,2,12,0,1,8:11 PM,12:00,NaN,NaN,NaN,NaN,NaN
1,0021700720,4,10,0,1,8:11 PM,12:00,Jump Ball Davis vs. Capela: Tip to Anderson,NaN,NaN,NaN,NaN
2,0021700720,7,5,40,1,8:11 PM,11:50,NaN,NaN,Capela Out of Bounds Lost Ball Turnover (P1.T1),NaN,NaN
3,0021700720,8,1,58,1,8:11 PM,11:37,Davis 6' Turnaround Hook Shot (2 PTS) (Holiday...,NaN,NaN,0 - 2,2
4,0021700720,10,2,5,1,8:12 PM,11:12,NaN,NaN,MISS Capela 2' Layup,NaN,NaN

In [4]:
g = game[(game.SCORE.notnull()) & (game.HOMEDESCRIPTION.notnull() | game.VISITORDESCRIPTION.notnull())]

In [5]:
g.head()

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN
3,0021700720,8,1,58,1,8:11 PM,11:37,Davis 6' Turnaround Hook Shot (2 PTS) (Holiday...,NaN,NaN,0 - 2,2
7,0021700720,13,1,1,1,8:12 PM,10:54,Holiday 20' Jump Shot (2 PTS) (Moore 1 AST),NaN,NaN,0 - 4,4
12,0021700720,20,1,6,1,8:13 PM,10:14,NaN,NaN,Harden 1' Driving Layup (2 PTS),2 - 4,2
13,0021700720,21,1,108,1,8:13 PM,10:01,Moore 1' Cutting Dunk Shot (2 PTS) (Cousins 1 ...,NaN,NaN,2 - 6,4
14,0021700720,23,1,108,1,8:13 PM,9:48,NaN,NaN,Capela Cutting Dunk Shot (2 PTS) (Paul 1 AST),4 - 6,2

In [6]:
g.to_csv('tmp.csv',)

In [7]:
def get_scoring_team(row):
    if row['HOMEDESCRIPTION'] == '':
        return 'HOME'
    if row['VISITORDESCRIPTION'] == '':
        return 'AWAY'
    return 'NULL'

In [8]:
def calculate_time(row):
    quarter = int(row['PERIOD'])
    minutes = int(row['PCTIMESTRING'].split(':')[0])
    seconds = int(row['PCTIMESTRING'].split(':')[1])
    return 2880 - (720)*(quarter - 1) - (11 - minutes)*(60) - (60 - seconds)

In [9]:
def process(df):
    g = df[
        (df.SCORE.notnull()) &
        (df.HOMEDESCRIPTION.notnull() | df.VISITORDESCRIPTION.notnull()) &
        (df.PERIOD <= 4)
    ].sort_values('EVENTNUM')
    
    g['TIME'] = g.apply(calculate_time, axis=1)
    
    g['AWAY'] = g['SCORE'].str.split(' - ').apply(lambda x: x[1])
    g['HOME'] = g['SCORE'].str.split(' - ').apply(lambda x: x[0])
    
    g['HOMEDESCRIPTION'].fillna('', inplace=True)
    g['VISITORDESCRIPTION'].fillna('', inplace=True)
    
    g['SCORINGTEAM'] = g.apply(get_scoring_team, axis=1)
    
    g['HOMEMARGIN'] = g['SCOREMARGIN'].apply(lambda x: int(x.replace('TIE','0')))
    
    return g#[['GAME_ID','EVENTNUM','PERIOD','TIME','AWAY','HOME','SCORINGTEAM','HOMEMARGIN','SCORE']]

In [10]:
pro = process(game)

In [11]:
pro.head()

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN,TIME,AWAY,HOME,SCORINGTEAM,HOMEMARGIN
3,0021700720,8,1,58,1,8:11 PM,11:37,Davis 6' Turnaround Hook Shot (2 PTS) (Holiday...,NaN,,0 - 2,2,2857,2,0,AWAY,2
7,0021700720,13,1,1,1,8:12 PM,10:54,Holiday 20' Jump Shot (2 PTS) (Moore 1 AST),NaN,,0 - 4,4,2814,4,0,AWAY,4
12,0021700720,20,1,6,1,8:13 PM,10:14,,NaN,Harden 1' Driving Layup (2 PTS),2 - 4,2,2774,4,2,HOME,2
13,0021700720,21,1,108,1,8:13 PM,10:01,Moore 1' Cutting Dunk Shot (2 PTS) (Cousins 1 ...,NaN,,2 - 6,4,2761,6,2,AWAY,4
14,0021700720,23,1,108,1,8:13 PM,9:48,,NaN,Capela Cutting Dunk Shot (2 PTS) (Paul 1 AST),4 - 6,2,2748,6,4,HOME,2

In [12]:
pd.melt(
    pro,
    id_vars=['GAME_ID','EVENTNUM','PERIOD','TIME','SCORINGTEAM','HOMEMARGIN','SCORE'],
    var_name='SIDE',
    value_name='POINTS',
).sort_values('EVENTNUM')\
.query('SCORINGTEAM == SIDE')

,GAME_ID,EVENTNUM,PERIOD,TIME,SCORINGTEAM,HOMEMARGIN,SCORE,SIDE,POINTS
1000,0021700720,8,1,2857,AWAY,2,0 - 2,AWAY,2
1001,0021700720,13,1,2814,AWAY,4,0 - 4,AWAY,4
1127,0021700720,20,1,2774,HOME,2,2 - 4,HOME,2
1003,0021700720,21,1,2761,AWAY,4,2 - 6,AWAY,6
1129,0021700720,23,1,2748,HOME,2,4 - 6,HOME,4
1005,0021700720,36,1,2720,AWAY,3,4 - 7,AWAY,7
1006,0021700720,37,1,2720,AWAY,4,4 - 8,AWAY,8
1132,0021700720,38,1,2711,HOME,1,7 - 8,HOME,7
1008,0021700720,44,1,2684,AWAY,3,7 - 10,AWAY,10
1009,0021700720,68,1,2578,AWAY,5,7 - 12,AWAY,12
1135,0021700720,70,1,2557,HOME,3,9 - 12,HOME,9
1011,0021700720,71,1,2545,AWAY,5,9 - 14,AWAY,14
1137,0021700720,81,1,2520,HOME,3,11 - 14,HOME,11
1013,0021700720,82,1,2503,AWAY,5,11 - 16,AWAY,16
1139,0021700720,84,1,2494,HOME,3,13 - 16,HOME,13
1015,0021700720,85,1,2475,AWAY,5,13 - 18,AWAY,18
1141,0021700720,95,1,2433,HOME,3,15 - 18,HOME,15
1142,0021700720,101,1,2417,HOME,2,16 - 18,HOME,16
1143,0021700720,106,1,2417,HOME,1,17 - 18,HOME,17
1019,0021700720,115,1,2375,AWAY,3,17 - 20,AWAY,20
1145,0021700720,117,1,2362,HOME,1,19 - 20,HOME,19
1021,0021700720,119,1,2351,AWAY,3,19 - 22,AWAY,22
1147,0021700720,132,1,2312,HOME,2,20 - 22,HOME,20
1148,0021700720,133,1,2312,HOME,1,21 - 22,HOME,21
1024,0021700720,134,1,2295,AWAY,4,21 - 25,AWAY,25
1150,0021700720,136,1,2278,HOME,1,24 - 25,HOME,24
1026,0021700720,138,1,2263,AWAY,3,24 - 27,AWAY,27
1152,0021700720,140,1,2255,HOME,1,26 - 27,HOME,26
1153,0021700720,143,1,2229,HOME,-1,28 - 27,HOME,28
1029,0021700720,144,1,2209,AWAY,1,28 - 29,AWAY,29
...,...,...,...,...,...,...,...,...,...
1095,0021700720,518,4,581,AWAY,10,83 - 93,AWAY,93
1221,0021700720,524,4,530,HOME,7,86 - 93,HOME,86
1097,0021700720,526,4,514,AWAY,10,86 - 96,AWAY,96
1223,0021700720,528,4,500,HOME,7,89 - 96,HOME,89
1224,0021700720,536,4,480,HOME,5,91 - 96,HOME,91
1225,0021700720,541,4,480,HOME,4,92 - 96,HOME,92
1101,0021700720,544,4,468,AWAY,5,92 - 97,AWAY,97
1102,0021700720,567,4,403,AWAY,8,92 - 100,AWAY,100
1228,0021700720,573,4,387,HOME,7,93 - 100,HOME,93
1229,0021700720,574,4,387,HOME,6,94 - 100,HOME,94
1230,0021700720,575,4,387,HOME,5,95 - 100,HOME,95
1231,0021700720,585,4,321,HOME,4,96 - 100,HOME,96
1107,0021700720,592,4,279,AWAY,6,96 - 102,AWAY,102
1108,0021700720,596,4,241,AWAY,8,96 - 104,AWAY,104
1234,0021700720,603,4,225,HOME,5,99 - 104,HOME,99
1235,0021700720,607,4,184,HOME,2,102 - 104,HOME,102
1236,0021700720,612,4,154,HOME,0,104 - 104,HOME,104
1112,0021700720,619,4,144,AWAY,1,104 - 105,AWAY,105
1113,0021700720,620,4,144,AWAY,2,104 - 106,AWAY,106
1114,0021700720,623,4,112,AWAY,5,104 - 109,AWAY,109
1240,0021700720,628,4,97,HOME,3,106 - 109,HOME,106
1241,0021700720,631,4,77,HOME,0,109 - 109,HOME,109
1117,0021700720,633,4,64,AWAY,2,109 - 111,AWAY,111
1118,0021700720,638,4,15,AWAY,4,109 - 113,AWAY,113
1244,0021700720,648,4,8,HOME,3,110 - 113,HOME,110
1245,0021700720,649,4,8,HOME,2,111 - 113,HOME,111
1246,0021700720,650,4,8,HOME,1,112 - 113,HOME,112
1122,0021700720,653,4,4,AWAY,2,112 - 114,AWAY,114
1123,0021700720,654,4,4,AWAY,3,112 - 115,AWAY,115
1249,0021700720,660,4,1,HOME,2,113 - 115,HOME,113