In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('point-tables.csv')

In [3]:
data.head()

   year  point  games  correct  pct_correct
0  1997      1   1189      647     0.544155
1  1997      2   1189      641     0.539108
2  1997      3   1189      660     0.555088
3  1997      4   1189      674     0.566863
4  1997      5   1189      682     0.573591